.paginate {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px $padding-item;

  &__button{

    //width: 10rem;
    font-size: 1.2rem;
    font-family: "Lato", sans-serif;

    margin: 5px 0;
    margin-right: 5px;

    background: transparent;
    padding: 5px 1rem;
    border-radius: 5px;
    border: 1px solid $color-paginate-control-border;

    transition: all 0.2s;

    &:focus, &:active {
      outline: none;
    }

    &:hover:enabled {
      color:#fff;
      background-color: $color-dark-3;
      border-color: $color-dark-3;
      cursor:pointer;
    }

    &:active{
      outline: none;
      animation: blink 1s;
    }


  }

  &__control{
    margin: 0 $margin-item;
  }

  &__info {
    font-size: 1.2rem;
    margin: 0 $margin-item;
  }

}



@keyframes blink {
  0% {
    background-color: $color-dark-2;
  }

  50% {
    background-color: $color-dark-1;
  }

  100% {
    background-color: $color-dark-3;
  }
}