.table-container{

  margin: 2rem 1rem;

}
.tsimple{

  table-layout:fixed;
  width: 100%;
  border-collapse: collapse;


  &__head{

    &__row{

    }

    &__header{
      padding: 5px 1rem;
      text-align: left;
      font-size: 1.2rem;
      letter-spacing: 0.5px;
      font-family: "Lato", sans-serif;
      background-color: $color-tsimple-header;
    }

  }

  &__data {
    padding: 5px 1rem;
    font-size: 1.1rem;
    font-family: "Lato", sans-serif;

  }

}

.action-table{
  //table-layout:fixed;
  width: 100%;
  border-collapse: collapse;

  &__icon{
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 5px;
  }

  &__data{
    padding: 5px 1rem;
    font-size: 1.1rem;
    font-family: "Lato", sans-serif;
  }

  &__head {

    &__row{

    }


    &__header{
      padding: 5px 1rem;
      text-align: left;
      font-size: 1.2rem;
      letter-spacing: 0.5px;
      font-family: "Lato", sans-serif;
      background-color: $color-tsimple-header;

      &--10{
        width: 10%;
      }

      &--20{
        width: 20%;
      }

      &--30{
        width: 30%;
      }

      &--50{
        width: 50%;
      }

    }
  }
}


.table-header-section{
  display: flex;
  align-items: center;
  //justify-content: space-between;
}