$color-white: #ffffff;
$color-light-1: #ecf0f1;
$color-light-2: #ffbbbc;
$color-light-3: #cccccc;
$color-light-4: rgb(244, 244, 244);

$color-dark-1: #333333;
$color-dark-2: #777;
$color-dark-3: rgb(51, 51, 51);


$color-orange-1: #e74c3c;
$color-orange-2: #c0392b;



$color-navbar-background: $color-orange-1;
$color-navbar-border: $color-orange-2;
$color-navbar-font-default: $color-light-1;
$color-navbar-font-hover: $color-light-2;

$color-header-background: $color-dark-1;

$color-breadcrumbs-background: $color-light-3;
$color-breadcrumbs-font: $color-dark-1;

$color-card-background: $color-white;
$color-card-header-primary: $color-orange-1;
$color-card-header-secondary: $color-light-4;
$color-card-header-border-secondary: $color-light-3;
$color-card-header-dark: $color-dark-1;
$color-card-border: $color-light-3;

$color-paginate-background:$color-light-4;
$color-paginate-control-border:$color-light-3;

$color-tsimple-header: $color-light-4;

$color-listitem-hover: $color-light-1;
$color-item-font: $color-dark-2;
$color-icon-fill: $color-dark-2;

$color-badge-background: $color-dark-2;
$color-badge-font: $color-white;

$color-widget-background:$color-light-4;
$color-widget-border: $color-light-3;


$color-input-border:  $color-light-3;
$color-button-background: $color-light-4;
//$color-button-background-hover:

$padding-widget: 2rem 2rem;


$margin-card: 3rem 1rem;


$margin-default: 3rem;
$margin-item: 1rem;
$padding-default: 3rem;
$padding-item: 1rem;
